.DS_Store
build/
out.ll
LLVM/build/
LLVM/clang/
LLVM/install
LLVM/llvm/
LLVM/clang-11.0.0.src.tar.xz
LLVM/llvm-11.0.0.src.tar.xz
.vscode/settings.json
Pass/cmake_install.cmake
Pass/CMakeCache.txt
Pass/CMakeFiles/3.16.3/CMakeCCompiler.cmake
Pass/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
Pass/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
Pass/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
Pass/CMakeFiles/3.16.3/CMakeSystem.cmake
Pass/CMakeFiles/3.16.3/CompilerIdC/a.out
Pass/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
Pass/CMakeFiles/3.16.3/CompilerIdCXX/a.out
Pass/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Pass/CMakeFiles/cmake.check_cache
Pass/CMakeFiles/CMakeDirectoryInformation.cmake
Pass/CMakeFiles/CMakeOutput.log
Pass/CMakeFiles/Makefile.cmake
Pass/CMakeFiles/Makefile2
Pass/CMakeFiles/progress.marks
Pass/CMakeFiles/Progress/1
Pass/CMakeFiles/Progress/3
Pass/CMakeFiles/Progress/4
Pass/CMakeFiles/Progress/5
Pass/CMakeFiles/Progress/6
Pass/CMakeFiles/Progress/count.txt
Pass/CMakeFiles/TargetDirectories.txt
Pass/CSElimination/cmake_install.cmake
Pass/CSElimination/CMakeFiles/CMakeDirectoryInformation.cmake
Pass/CSElimination/CMakeFiles/CSElimination.dir/build.make
Pass/CSElimination/CMakeFiles/CSElimination.dir/cmake_clean.cmake
Pass/CSElimination/CMakeFiles/CSElimination.dir/CXX.includecache
Pass/CSElimination/CMakeFiles/CSElimination.dir/depend.internal
Pass/CSElimination/CMakeFiles/CSElimination.dir/depend.make
Pass/CSElimination/CMakeFiles/CSElimination.dir/DependInfo.cmake
Pass/CSElimination/CMakeFiles/CSElimination.dir/flags.make
Pass/CSElimination/CMakeFiles/CSElimination.dir/link.txt
Pass/CSElimination/CMakeFiles/CSElimination.dir/progress.make
Pass/CSElimination/CMakeFiles/progress.marks
Pass/CSElimination/Makefile
Pass/HelloPass/cmake_install.cmake
Pass/HelloPass/CMakeFiles/acc_gen.dir/build.make
Pass/HelloPass/CMakeFiles/acc_gen.dir/cmake_clean.cmake
Pass/HelloPass/CMakeFiles/acc_gen.dir/DependInfo.cmake
Pass/HelloPass/CMakeFiles/acc_gen.dir/progress.make
Pass/HelloPass/CMakeFiles/CMakeDirectoryInformation.cmake
Pass/HelloPass/CMakeFiles/HelloPass.dir/build.make
Pass/HelloPass/CMakeFiles/HelloPass.dir/cmake_clean.cmake
Pass/HelloPass/CMakeFiles/HelloPass.dir/CXX.includecache
Pass/HelloPass/CMakeFiles/HelloPass.dir/depend.internal
Pass/HelloPass/CMakeFiles/HelloPass.dir/depend.make
Pass/HelloPass/CMakeFiles/HelloPass.dir/DependInfo.cmake
Pass/HelloPass/CMakeFiles/HelloPass.dir/flags.make
Pass/HelloPass/CMakeFiles/HelloPass.dir/HelloPass.cpp.o
Pass/HelloPass/CMakeFiles/HelloPass.dir/link.txt
Pass/HelloPass/CMakeFiles/HelloPass.dir/progress.make
Pass/HelloPass/CMakeFiles/intrinsics_gen.dir/build.make
Pass/HelloPass/CMakeFiles/intrinsics_gen.dir/cmake_clean.cmake
Pass/HelloPass/CMakeFiles/intrinsics_gen.dir/DependInfo.cmake
Pass/HelloPass/CMakeFiles/intrinsics_gen.dir/progress.make
Pass/HelloPass/CMakeFiles/omp_gen.dir/build.make
Pass/HelloPass/CMakeFiles/omp_gen.dir/cmake_clean.cmake
Pass/HelloPass/CMakeFiles/omp_gen.dir/DependInfo.cmake
Pass/HelloPass/CMakeFiles/omp_gen.dir/progress.make
Pass/HelloPass/CMakeFiles/progress.marks
Pass/HelloPass/libHelloPass.so
Pass/HelloPass/Makefile
Pass/LivenessAnalysis/cmake_install.cmake
Pass/LivenessAnalysis/CMakeFiles/CMakeDirectoryInformation.cmake
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/build.make
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/cmake_clean.cmake
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/CXX.includecache
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/depend.internal
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/depend.make
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/DependInfo.cmake
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/flags.make
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/link.txt
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/LivenessAnalysis.cpp.o
Pass/LivenessAnalysis/CMakeFiles/LivenessAnalysis.dir/progress.make
Pass/LivenessAnalysis/CMakeFiles/progress.marks
Pass/LivenessAnalysis/libLivenessAnalysis.so
Pass/LivenessAnalysis/Makefile
Pass/Makefile
test/phase1/test.ll
